@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: 	#000000;  
    color: #E1E8ED;
    font-family: 'Roboto', sans-serif;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAV SECTION */
.navBar{
    margin-bottom: 730px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.twitterIcon{
    margin: 20px 20px 15px -55px;
}
.twitterHomeIcon{
    color: #E1E8ED;
    background-color: #E1E8ED;
}
.navItem{
    margin: 15px 0px 0px -60px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    padding: 9px;
}
.navItem:hover{
    cursor: pointer;
    background-color: #20262b;
    opacity: .98;
    border: transparent;
    border-radius: 30px;
    width: 180px;
}
.tweetBtn{
    cursor: pointer;
    margin: 20px 30px 0 -70px;
    width: 215px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #f8fcff;
    background-color: #1DA1F2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.tweetBtn:hover{
    background-color: #1998e7;
}


/* MIDDLE SECTION  */
.homeMiddleSection{
    border: 1px solid #5a5959;
    border-top: 1px solid #000000;
    height: 100%;
    width: 630px
}
.homeHeaderContainer{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    position: sticky;
    top: 0;
}
.homeHeader{
    margin: 13px 0 5px 15px;
    font-size: 20px;
    padding: 2px;
}
.homeHeaderIcon{
    margin: 15px;
    margin-bottom: 0px;
}
.whatsHappeningContainer{
    height: 180px;
    border-bottom: 1px solid #5a5959;
}

.postForm{
    margin-top: 25px;
    align-items: center;
}
.profilePicture{
    margin: 10px;
    border-radius: 50%;
    margin: 0px 10px 0 15px;
}
.postInput{
    width: 250px;
    background-color: transparent;
    color: #E1E8ED;
    border: transparent;
    font-size: 21px;
}
.postInput:focus{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.accountPostContainer{
    display: flex;
}
.homeTweetBtn{
    margin: 12px;
    cursor: pointer;
    width: 85px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #f8fcff;
    background-color: #1DA1F2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.iconPostContainer{
   display: flex;
   justify-content: space-between;
}
.leftSideInfo{
    display: flex;
}
.iconPostContainer p{
    cursor: pointer;
    padding: 10px;

}
.iconPostContainer p:hover{
    background-color: #072a41;
    opacity: .98;
    border: transparent;
    border-radius: 30px;
    height: 38px;
    
}
.media{
    margin: 10px 0px -10px 72px;
    color: #1d9bf0;
}
.icon{
    margin: 10px 0px -10px;
    color: #1d9bf0;
}

.tweetContainer{
    border-bottom: 1px solid #5a5959;
    height: fit-content;
    padding: 20px 0 23px 0;
    font-size: 15px;
    /* white-space: pre-wrap; */
}
.tweetUserInfo{
    display: flex;
    align-items: flex-start;
    color: #6b6b6b;
}
.postedTweetInfo{
    margin: -20px 0 0 80px;
}
.users-Name{
    font-weight: bold;
    margin-right: 5px;
    color: #f8fcff;
}
.postedTweetIcons{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 0px 5px;
    gap: 40px;
    color: #5a5959;
}
.postedTweetIcons:hover{
    cursor: pointer;
}
.postedIcons{
    margin: 10px 0px -10px 70px;
}

.comment:hover, .share:hover{
    color: #196aa0;
}
.retweet:hover{
    color: #19cf86;
}
.heart:hover{
    color: #b03060;
}
