@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: 	#030303;  
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.twitterIcon{
    margin: 10px 0 8px 0px;
}
.navItem{
    margin: 15px 70px 15px 0;
    font-size: 20px;
}
.tweetBtn{
    width: 50px;
}
.homeMiddleSection{
    border: 1px solid #5a5959;
    height: 100vh;
    width: 600px
}

